<ui-modal-form title="Formulario de Medicamentos" [buttonClose]="true" [buttonSubmit]="true" [formGroup]="formGroup"
  (formSubmit)="submit($event)">

  <input type="hidden" [formControlName]="modelIdPropertyName" />
  <input type="hidden" formControlName="createdAt" />

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="name" text="Medicamento"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="name"></ui-text-box>
        <ui-validators [group]="formGroup" name="name"></ui-validators>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <ui-label [group]="formGroup" name="code" text="Código"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="code"></ui-text-box>
        <ui-validators [group]="formGroup" name="code"></ui-validators>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <ui-label [group]="formGroup" name="concentration" text="Concentración"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="concentration"></ui-text-box>
        <ui-validators [group]="formGroup" name="concentration"></ui-validators>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="description" text="Descripción"></ui-label>
        <ui-text-area [group]="formGroup" formControlName="description" [rows]="3"></ui-text-area>
        <ui-validators [group]="formGroup" name="description"></ui-validators>
      </div>
    </div>
  </div>
</ui-modal-form>
