<div class="row">

  <div class="col-md-10 col-sm-12">
    <p-autoComplete [(ngModel)]="selectedValue" (onSelect)="select($event)" [disabled]="isSeleted"
      [suggestions]="(filteredResult$ | async)" (onClear)="onClear($event)" [delay]="600"
      (completeMethod)="search($event)" [minLength]="2" [forceSelection]="false" (onBlur)="onBlur($event)"
      [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" field="fullName" inputStyleClass="form-control"
      emptyMessage="Sin resultados">
    </p-autoComplete>
  </div>

  <div class="col-md-2 col-sm-12">

    <div class="text-center padding-mobile">
      <button type="button" class="btn btn-circle btn-success mr-2" [disabled]="disabled" (click)="create()">
        <i class="feather icon-user-plus"></i>
      </button>

      <button type="button" class="btn btn-circle btn-danger" [disabled]="disabled" (click)="clearProviderSelect()">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </div>
</div>
