<div class="row">

  <div class="col-12">

    <div class="row justify-content-end mb-4">
      <div class="col">
        <button type="button" class="btn btn-xs btn-success mr-2 float-right" (click)="createModal()">
          Nuevo movimento
        </button>
      </div>
    </div>

    <app-card [hidHeader]="false" cardClass="card-datatable" customHeader="true">

      <div class="app-card-header">
        <h5>Listado de movimientos</h5>
        <div class="card-header-right">

          <button type="button" class="btn btn-xs btn-warning ml-1" (click)="adminTable.refreshing()">
            <span><i class="fa fa-redo"></i> Refrescar</span>
          </button>

          <button type="button" class="btn btn-xs btn-primary ml-1" (click)="adminTable.clearFilters()">
            <span><i class="fa fa-eraser"></i> Limpiar</span>
          </button>

          <button type="button" class="btn btn-xs btn-danger ml-1" (click)="adminTable.openFilter()">
            <span><i class="fa fa-filter"></i> Filtros</span>
          </button>
        </div>
      </div>

      <div class="dt-responsive">

        <ui-admin-table #adminTable (refresh)="onRefresh($event)" [apiRecords]="(records$ | async)" [pageSize]="15">
          <ng-template #contentFiltered>
            <div class="row">
              <div class="col-12">
                <ui-text-filter label="Moneda" property="name" mode="like">
                </ui-text-filter>
              </div>
            </div>
          </ng-template>

          <p-table>
            <ng-template pTemplate="header">
              <tr>

                <th scope="col" style="width: 15%">
                  Fecha
                </th>
                <th scope="col">
                  Concepto
                </th>
                <th scope="col" style="width: 10%">
                  Tipo
                </th>
                <th scope="col" style="width: 15%">
                  Monto
                </th>
                <th scope="col" style="width: 15%">
                  Nro. ref
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
              <tr [pContextMenuRow]="row" [pSelectableRow]="row">
                <td>
                  {{ row.createdAt | date:'dd-MM-yyyy HH:mm' }}
                </td>
                <td>
                  {{ row.concept }}
                </td>
                <td>
                  <span class="badge" [ngClass]="{
                     'badge-success': row.type == operationTypeEnum.Income,
                     'badge-danger': row.type == operationTypeEnum.Expense
                 }">
                    {{ row.type == operationTypeEnum.Income ? 'Ingreso' : 'Egreso' }}
                  </span>
                </td>
                <td>
                  <span [ngClass]="{
                      'text-success': row.type == operationTypeEnum.Income,
                      'text-danger': row.type == operationTypeEnum.Expense
                  }">
                    {{ row.type == operationTypeEnum.Income ? '+' : '-' }}
                    {{ row.amount | number:'1.1-2' }}
                  </span>
                </td>
                <td>
                  <span class="badge badge-primary">{{ row.transactionOperationCode }}</span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  No records found
                </td>
              </tr>
            </ng-template>
          </p-table>

        </ui-admin-table>

      </div>
    </app-card>
  </div>
</div>
