<ui-modal-form title="Formulario de Enfermedades / Alergias del paciente" [buttonClose]="true" [buttonSubmit]="true" [formGroup]="formGroup"
  (formSubmit)="submit($event)" #modalForm>

  <input type="hidden" [formControlName]="modelIdPropertyName" />
  <input type="hidden" formControlName="patientId" />
  <input type="hidden" formControlName="createdAt" />

  <div class="row">


    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="name" text="Enfermedad / Alergia"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="name"></ui-text-box>
        <ui-validators [group]="formGroup" name="name"></ui-validators>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="description" text="Descripción"></ui-label>
        <ui-text-area [group]="formGroup" formControlName="description" [rows]="3"></ui-text-area>
      </div>
    </div>

  </div>
</ui-modal-form>
