<ui-modal-form title="Tipo de producto" [buttonClose]="true" [buttonSubmit]="true" [formGroup]="formGroup"
  (formSubmit)="submit($event)">

  <input type="hidden" [formControlName]="modelIdPropertyName" />
  <input type="hidden" formControlName="createdAt" />

  <div class="row">
    <div class="col-12">
      <ui-label [group]="formGroup" name="name" text="Tipo de producto" message="Nombre del tipo de producto">
      </ui-label>
      <div class="form-group">
        <ui-text-box [group]="formGroup" formControlName="name"></ui-text-box>
        <ui-validators [group]="formGroup" name="name"></ui-validators>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ui-label [group]="formGroup" name="code" text="Código" message="Codigo del tipo de producto"></ui-label>
      <div class="form-group">
        <ui-text-box [group]="formGroup" formControlName="code"></ui-text-box>
        <ui-validators [group]="formGroup" name="code"></ui-validators>
      </div>
    </div>
  </div>

</ui-modal-form>