<ui-modal-form title="Formulario de Permisos" [buttonClose]="true" [buttonSubmit]="true" [formGroup]="formGroup"
  (formSubmit)="submit($event)" #modalForm>

  <input type="hidden" [formControlName]="modelIdPropertyName" />
  <input type="hidden" formControlName="createdAt" />

  <div class="row">

    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="code" text="Código"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="code"></ui-text-box>
        <ui-validators [group]="formGroup" name="code"></ui-validators>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="name" text="Nombre del Permiso"></ui-label>
        <ui-text-box [group]="formGroup" formControlName="name"></ui-text-box>
        <ui-validators [group]="formGroup" name="name"></ui-validators>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <ui-label [group]="formGroup" name="resourceId" text="Recurso"
          message="Recurso a asociar"></ui-label>
        <ui-dropdown [group]="formGroup" formControlName="resourceId" bindLabel="name" bindValue="_id" [items]="(resources$ | async)">
        </ui-dropdown>
        <ui-validators [group]="formGroup" name="resourceId"></ui-validators>
      </div>
    </div>
  </div>
</ui-modal-form>